.selected.svelte-f90a33 {--tw-bg-opacity: 1;background-color: rgb(88 28 135 / var(--tw-bg-opacity));--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity))
}.surrounding.svelte-f90a33 {--tw-bg-opacity: 1;background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}