@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;
  --color-purple-950: #3b0764;
}

/* Base styles for light/dark mode */
html {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

select {
  @apply w-fit border border-gray-200 rounded-sm dark:border-blue-700/50 dark:bg-blue-900/50 dark:text-blue-50 dark:hover:bg-blue-800 dark:hover:border-blue-700;
}
